<div class="offset2">
  <h1>Sign up</h1>
  <%= render :partial => "form" %>
</div>

<%= content_for :javascript do %>
  Stripe.setPublishableKey("<%= "#{ENV['STRIPE_API_KEY_PUBLIC']}" %>");
<% end %>
