<% unless @entry.new_record? %>
  <%= render :partial => "entry-buttons", :locals => { :entry => @entry } %>
<% end %>

<% if @entry.has_photo? %>
  <div class="inline">
      <%= link_to image_tag(@entry.photo.thumb260.url, :class => "img-polaroid"), 
          @entry.photo.url %>
          <small>
      <%= link_to 'Delete [x]', 
          delete_entry_photo_path(@entry, @entry.entry_photo), 
          :title => 'Delete Photo', 
          :method => :put,
          :class => "muted pull-right" %>
        </small>
  </div>
<% end %>

