<% unless @entry.new_record? %>
  <%= render :partial => "entry-buttons", :locals => { :entry => @entry } %>
<% end %>

<% if @entry.has_photo? %>
  <div id="entry-photos">
      <%= link_to image_tag(@entry.photo.thumb260.url, :class => "img-polaroid"), 
        @entry.photo.url %>
      <div id="photo-delete-link", style="display: none;">
        <small>
          <%= link_to 'Delete [x]', 
              delete_entry_photo_path(@entry, @entry.entry_photo), 
              :title => 'Delete Photo', 
              :onclick => "delete_entry_photo(event, #{@entry.id}, #{@entry.entry_photo.id})", 
              :class => "muted pull-right" %>
       </small>
     </div>
  </div>
<% end %>

