<div>
  <div class="span12">
    <div class="span8">
      <h2><%= link_to entry.pretty_time, entry_path(entry) %></h2>
    </div>
    <div class="span3">
     <%= render :partial => "entry-buttons", :locals => { :entry => entry } %>
    </div>
  </div>
  <div class="row-fluid">
    <%- if entry.has_photo? %>
      <div class="span2">
        <%= image_tag entry.photo.thumb160.url, :class => "img-polaroid" %>
      </div>
    <% end %>
    <div class="span7">
      <%= simple_format h entry.shorten_contents %>
    </div>
  </div>
</div>
<br />
