<div>
  <h2><%= link_to entry.pretty_time, entry_path(entry) %></h2>
  <p><%= simple_format h entry.shorten_contents %></p>
  <p>
  <%= render :partial => "entry-buttons", :locals => { :entry => entry } %>
    </p>
</div>
<br />
