<tr>
  <td>
    <p class="pagination-centered">
      <strong><%= link_to old_entry.created_at.strftime("%m/%e/%Y %m:%M%p"), old_entry, :class => "muted" %></strong>
    </p>
  </td>
  <td>
    <p class="pagination-centered">
      <small><%= "#{old_entry.contents[0..100]}#{'...' if old_entry.contents.length > 100}" %></small>
    </p>
  </td>
</tr>
