<div class="row pull-left">
  <div class="span8">
    <h2>New Entry <small>for <%= Time.now.strftime("%a, %e %b %Y %H:%M") %></small></h2>
  </div>
</div>
<div>
  <%= render :partial => 'form' %>
</div>

<%- unless @lat_long %>
  <script>
    get_location();
  </script>
<% end %>
