<div class="container-fluid span12">
<div class="span9" id="entry" entry-id="<%= @entry.id %>">
  <div>
    <h2><%= @entry.pretty_time %></h2>
  </div>
  <div id="entry-text">
    <%= @entry.markdown_as_html.html_safe %>
  </div>
</div>
<div class="span3 pull-right">
  <%= render :partial => 'entry_sidebar' %>
</div>
</div>
