<div id="entry" entry-id="<%= @entry.id %>">
  <div>
    <h2><%= @entry.created_at.strftime("%B %d, %Y %I:%M%p") %></h2>
  </div>
  <div>
    <%= simple_format h(@entry.contents), { :id => "entry-text" } %>
  </div>
</div>
