<div class="hero-unit">
  <h1>Jotting Journal</h1>
  <h2 style="padding-left: 35px;">Your journal, everyone</h2>
  <div id="feature-carousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="active item" style="padding-left: 100px;">
        <div class="span3">
          <img src="/assets/frontpage/markdown-mark.png" width="175px" />
        </div>
        <div class="span8">
          <h3>Markdown Support</h3>
          <p>Use Markdown to compose your entries. When you view them they'll come back as nice rich HTML.</p>
        </div>
      </div>
      <div class="item" style="padding-left: 100px;">
        <div class="span2">
          <img src="/assets/frontpage/location.png" width="128px" />
        </div>
        <div class="span8">
          <h3>Location Aware</h3>
          <p>Jotting Journal allows you to attach a location to entry based on GPS coordinates. This gives each entry a sense of context.</p>
        </div>
      </div>
      <div class="item" style="padding-left: 100px;">
        <div class="span2">
          <img src="/assets/frontpage/camera.png" width="128px" />
        </div>
        <div class="span8">
          <h3>Upload Photos</h3>
          <p>You can attach an image to a journal entry to further help give it a sense of context. Or use a picture of something you want to remember about the time.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control left" href="#feature-carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#feature-carousel" data-slide="next">&rsaquo;</a>
  </div>
</div>
