<div class="row-fluid pagination-centered">
  <div>
    <h1>Jotting Journal</h1>
    <h2>Your journal, everywhere</h2>
  </div>
</div>
<div>
  <div class="hero-unit span10 offset1 pagination-centered" id="feature-list">
    <p>
    It's your life. You should be able to journal it anywhere. That's what Jotting Journal is for. Where ever you are, we're there to help you record what's happening.
    </p>
    <p>
    Anywhere you have a web browser, you can log into your journal, record what's going on, upload a picture, and attach your location.
    </p>
    <p>Here are some of the features Jotting Journal has to offer:</p>
    <br />
    <div class="offset1" style="padding-top: 10px;">
      <div class="span3">
        <img src="/assets/frontpage/markdown-mark.png" width="128px" />
        <h3>Markdown Support</h3>
      </div>
      <div class="span3 offset1">
        <img src="/assets/frontpage/location.png" width="128px" />
        <h3>Location Aware</h3>
      </div>
      <div class="span3 offset1">
        <img src="/assets/frontpage/camera.png" width="128px" />
        <h3>Upload Pictures</h3>
      </div>
    </div>
  </div>
</div>
