<div class="pagination-centered">
  <div class="page-header">
    <h1>Jotting Journal <small>Your journal, everywhere</small></h1>
  </div>
  <br />
  <div class="hero-unit span12" style="height: 325px;">
    <div id="feature-carousel" class="span5 carousel slide" style="height: 300px;">
      <div class="carousel-inner">
        <div class="active item">
          <p><img src="/assets/frontpage/markdown-mark.png" width="128px" /></p>
          <p><h3>Markdown Support</h3></p>
          <p>Use Markdown to compose your entries. When you view them they'll come back as nice rich HTML. Not familiar with Markdown? Look <a href="http://daringfireball.net/projects/markdown/">Here</a>.</p>
        </div>
        <div class="item">
          <p><img src="/assets/frontpage/location.png" width="128px" /></p>
          <p><h3>Location Aware</h3></p>
          <p>Jotting Journal allows you to attach a location to entry based on GPS coordinates. This gives each entry a sense of context.</p>
        </div>
        <div class="item">
          <p><img src="/assets/frontpage/camera.png" width="128px" /></p>
          <p><h3>Upload Photos</h3></p>
          <p>You can attach an image to a journal entry to further help give it a sense of context. Or use a picture of something you want to remember about the time.</p>
        </div>
      </div>
      <a class="carousel-control left" href="#feature-carousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#feature-carousel" data-slide="next">&rsaquo;</a>
    </div>
    <div>
      <p>It's your life. You should be able to journal it anywhere. That's what Jotting Journal is for. Where ever you are, we're there to help you record what's happening.</p>
      <p>Anywhere you have a web browser, you can log into your journal, record what's going on, upload a picture, and attach your location.</p>
      <p>It's all about context, <strong>your</strong> context.</p>
    </div>
  </div>
  <br />
  <div class="span12 pagination-centered">
    <h2>Try it Free for 30 Days! <small>($36/year after that)</small></h2>
    <%= link_to 'Sign Up Now', new_user_registration_path, :class => "btn btn-large btn-inverse" %>
  <div class="pagination-centered muted" style="padding-top: 12px;">
    <strong>Don't panic</strong>. Mobile apps are in the works.
  </div>
  </div>
</div>
