<hr>
<div class="pagination-centered">
  <p class="muted">
    <small>
      Jotting Journal was created by <%= link_to 'Michael Koby', 'http://www.mkoby.com' %><br/>
      No warranty is given or assumed. We promise not to spam you, sell your data, or invade your privacy.
    </small>
  </p>
</div>
